*{
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    border-bottom-style: solid;
    border-bottom-width: 10vh;
    background-color: black;
    border-bottom-color: rgba(255, 255, 0, .5);       
}