* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    border-right-style: solid;
    border-right-width: medium;
    border-right-color: rgba(200, 0, 0, .5);
}