* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80vw;        
}
.content {
  columns: 60px 4;
  column-gap: 10%;
}
#a {
    column-fill: balance;
    column-rule-style: dotted;
    column-width: 20px;
    column-rule-color: #ff0000;
}
#b {
    column-fill: auto;
    height: 600px;
    column-rule-style:double;
}   