body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.bloco {
    width: 20vw;
    height: 50vh;
    background-color: #487eb0;
    margin-bottom: 10%;

}