body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    width: 50vw;
}
.item {
    resize: both;
    overflow: auto;
}
p:nth-child(2) {
    resize: inline;
}
textarea {
    resize: none;
}